
*{
    padding: 0;
    margin: 0;
}
body{
    background: #293c23d1;
}
.block {
    display: flex;
}
.white{
    background-color: azure;
}
.black{
    background-color: black;
}
.container{
    margin: 0 auto;
    width: 850px;
    height: 830px;
    
}
.horizont {
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: #ffa600;
}
.letterName{
    width: 800px;
    height: 30px;
    display: flex;
    grid-row: 2;
}
.realletterName{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.NumberName{
    width: 30px;
    height: 800px;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
}
.realNumberName{
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.around{
    display: grid;
    grid-template-rows:  800px 30px; 
    grid-template-columns: 30px 800px; 
}

.table{
    grid-column: 2;
}
.green{
    background: green;
}
.none{
    background-attachment: none;
}
.red{
    background: red;
}